.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
        font-size: 80%;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 0.15em;
        background-color: #efefef;}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;}

#logo {
    display:block;
    text-align: center;
    margin:auto;
    margin: 2% 25% 0% 25%;}



ul {
    list-style-type: circle;
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;}


nav li {
    display: inline;
    margin: 50px 3px;}

p {
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;}
a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;}

a:hover, a.on {
    color: #cc3333;
    background-color: #ffffff;}

#cat {
    margin-top: 25px;
    text-align: center;}


.selected {
     color: #cc3333;}


#text_entry {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family:  Courier, monospace;}

.entry {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family:  Courier, monospace;
}


article {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family:  Courier, monospace;}

button {
    margin-top: 1%;}

#new-entry-button, #edit_entry-button, #delete_entry-button {
    list-style: none;
    font-weight: bold;
    font-family: Courier, monospace;
    display: inline;}

footer {
    font-size: 0.9em;
    text-align: center;
    clear: both;
    padding-top: 10px;
    color: #000;}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;}
}



/*tutorial css*/
/*body{
    color:#111;
    padding:0;
    margin:0}
header{
    margin:0;
    padding:0 0.75em;
    width:100%;}
header:after{
    content:"";
    display:table;
    clear:both;}
header a{
    text-decoration:none}
header aside{
    float:right;
    text-align:right;
    padding-right:0.75em}
header ul{
    list-style:none;
    list-style-type:none;
    display:inline-block}
header ul li{
    margin:0 0.25em 0 0}
header ul li a{
    padding:0;
    display:inline-block}
main{padding:0 0.75em 1em}
main:after{
    content:"";
    display:table;
    clear:both}
main article{
    margin-bottom:1em;
    padding-left:0.5em}
main article h3{margin-top:0}
main article .entry_body{
    margin:0.5em}
main aside{float:right}
main aside .field{
    margin-bottom:1em}
main aside .field input,
main aside .field label,
main aside .field textarea{
    vertical-align:top}
main aside .field label{
    display:inline-block;
    width:15%;
    padding-top:2px}
main aside .field input,
main aside .field textarea{
    width:83%}
main aside .control_row input{
    margin-left:16%}
*/
