<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Karen Wong | Learning Journal</title>
    <link rel="stylesheet" href="css/normalize.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
  </head>
  <body>
    <div id="logo">
        <img src="/static/img/logo.jpeg" alt="The Learning Journal" />
     </div>
    <header>
        <nav>
            <ul>
                <li><a href="index.html" class="selected">+Home</a></li>
                <li><a href="new_entry.html">+New Entry</a></li>
<!--                 show the latest entry on the detail page -->
                <li><a href="detail.html">+View Latest Entry</a></li>

            </ul>
        </nav>
    <header>
    <div id=cat>
        <img src="/static/img/cat_with_glasses.jpg" alt="cat with glasses" />
    </div>
    <p> Hi! This is Karen. This journal captures my learning journey from being a baby programmer to a toddler programmer. #neverGiveUp</p>
    </header>
    <main>
      <section id="content">
      {% block body %}{% endblock %}
      </section>
    </main>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    <aside id="user-controls">
        <ul>
        {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}
        </ul>
      </aside>
    <footer>
      <p>&copy; 2015 Karen Wong Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
  </body>
</html>
